

#playArea{
    border: 5px solid black;
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 800px;

}

#howToPlay {
    border: 1px solid purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 600px;
    height: 400px;
    text-align: center;
}

#beginButton{
    border: 1px solid purple;
    background-color:purple;
    color: navajowhite;
}

